.span-24
  %img{:src => "images/house.png"}
  
.span-9
  .box-content
    .subtitle-style
      Description
    %p
      A Web Developer with experience in database applications, 
      using the latest technologies related with most popular frameworks.
