.span-24
  %img{:src => "images/gear.png"}
  
.span-4
  .box-content 
    .subtitle-style
      YABSCA
    %p
      Ruby on Rails application.
      %br
      user: admin, password: 12345.
      %br
      %a{:href => "http://yabsca.heroku.com/"} Site
      
.span-5
  .box-content
    .subtitle-style
      Inversiones HM 2011
    %p
      Wordpress Site.
      %br
      %a{:href => "http://www.inversioneshm.com.ve/"} Site

.span-15.last  
  
.span-4
  .box-content
    .subtitle-style
      Fuzzyquery
    %p
      PostgreSQL extension.
      %br
      %a{:href => "http://code.google.com/p/fuzzyquery/"} Site
  

.span-5.last
  .box-content
    .subtitle-style
      PHP Developer
    %p
      %a{:href => "http://www.alcaldiagirardot.gob.ve/"} Alcaldía de Girardot
      %br
      %a{:href => "http://www.minarsa.com.ve/"} Minarsa
      %br

.span-24
  .box-content
    .subtitle-style
      Ruby Developer
    %p  
      %a{:href => "http://www.360releases.com/"} 360releases Ltd.
    
