!!! XML
!!!
%html
  %head
    %title Web Developer
    %link{:rel => "stylesheet", :href => "stylesheets/blueprint/screen.css", :type => "text/css" , :media =>"screen, projection"}
    %link{:rel=>"stylesheet", :href=>"stylesheets/blueprint/print.css", :type=>"text/css", :media => "print"} 
    /[if IE]
      %link{:rel=>"stylesheet", :href=>"stylesheets/blueprint/ie.css", :type=>"text/css", :media=>"screen, projection"}

    %body
      .container
        .span-24
          %img{:src => "images/logo_me.jpg"}
          
        =yield
