.span-24
  Ruby on Rails 
  %br
  %p
    Develop web applications using Agile Methodologies.
  
.span-24
  PHP
  %br
  %p
    Experience in Wordpress and CodeIgniter applications.
    
.span-24
  C#
  %br
  %p
    Desktop software and ASP .NET sites.
    
.span-24
  JavaScript
  %br
  %p
    Love to work with JQuery, ExtJS and CoffeeScript.