.span-24
  These are some of my work:

.span-24
  &nbsp;
  
.span-24
  %p
    Ruby on Rails:
    %br
    user: admin, password: 12345
    %br
    %a{:href => "http://yabsca.heroku.com/"} YABSCA

.span-24
  %p
    Wordpress Site: 
    %br
    %a{:href => "http://www.inversioneshm.com.ve/"} Inversiones HM 2011
  
.span-24
  %p
    C, PostgreSQL extension:
    %br
    %a{:href => "http://code.google.com/p/fuzzyquery/"} Fuzzyquery
  

.span-24
  %p
    I also worked as a PHP developer for 
    %a{:href => "http://www.alcaldiagirardot.gob.ve/"} Alcaldía de Girardot
    and
    %a{:href => "http://www.minarsa.com.ve/"} Minarsa
    %br
    As a Ruby on Rails developer for
    %a{:href => "http://www.360releases.com/"} 360releases Ltd.
    
