ul#menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li
{
    float: left;
    margin: 0 0.5em;
}

a.menu {
    width: 64px;
    height: 64px;
    display:block;
}

a#home {
    background:url(../images/house_s.png);
}

a#skills {
    background:url(../images/archives_s.png);
}

a#work {
    background:url(../images/gear_s.png);
}

a#contact {
    background:url(../images/phone_s.png);
}

.social_icons_group {
    float: right;
}

a.social_icons {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}

.submit_button {
    float: left;    
}

a#facebook_icon {
    background:url(../images/facebook.png);    
}

a#linkedin_icon {
    background:url(../images/linkedin.png);    
}

a#twitter_icon {
    background:url(../images/twitter.png);    
}
