body {
	font-family: Verdana;
  background: #2F3238;
}

article#home {
  background: #f1f1f1;
}

article#skills {
  background: #d8e898;
}

article#work {
  background: #f8b283;
}

article#contact {
  background: #fff99b;
}

a.awe {
  padding: 5px;
  color: #FFF;
}

article {
  padding-top: 70px;
  padding: 100px 0;
  position: relative;
  z-index: 99;
}

article#home h1, article#home h3 {
  font-family: 'Bubbler One', sans-serif;
}

article .row {
  margin-left: 0px;
}

@media (max-width: 979px) { 
  article#home h1 {
    font-size: 40px;
  }
}

@media (min-width: 980px) { 
  article#home h1 {
    font-size: 90px;
  }
}

.logo-name {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 72px;
    color: #FA6900;
}

.logo-developer {
    margin-left: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #4FAEBA;
}

.menu {
    margin-top: 10px;
}

.title-style {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 48px;    
    color: #FA6900;
}

.subtitle-style {
    font-weight: bold;
    font-size: 24px;    
    color: #4FAEBA;    
}

.subtitle-style a {
    color: #4FAEBA;    
}

.box-content {
    padding-left: 25px;
}

textarea {
    width: 300px;
    height: 100px;
}

fieldset {
    padding: 1em;    
}
.credits {
  color: #FFFFFF;
}
