body{
	background:#ccc url(../images/wood.jpg) repeat top left;
	font-family: Verdana;
	color:#444;
	color: #000;
}

.logo-name {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 72px;
    color: #FA6900;
}

.logo-developer {
    margin-left: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #4FAEBA;
}

.menu {
    margin-top: 10px;
}

.title-style {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 48px;    
    color: #FA6900;
}

.subtitle-style {
    font-weight: bold;
    font-size: 24px;    
    color: #4FAEBA;    
}

.subtitle-style a {
    color: #4FAEBA;    
}

.box-content {
    padding-left: 25px;
}

textarea {
    width: 300px;
    height: 100px;
}

fieldset {
    padding: 1em;    
}

a.fg-button:visited  {
  color: #2e6e9e;
}

.fg-button{ 
  outline: 0;
  margin:0 4px 0 0; 
  padding: .4em 1em; 
  text-decoration:none !important; 
  cursor:pointer; 
  position: relative; 
  text-align: center; 
  zoom: 1; 
}

.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.fg-button { float:left;font-size: 1em;   }

/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.cufon-loading {
    visibility: hidden !important;
}