-flashes = (flash[:warning].compact rescue [])
-unless flashes.empty?
  .alert.alert-warning
    =flash[:warning].compact.join("<br />")

%form{:name => "form", :id => "form", :action => "/contact", :method => "post"}
  %fieldset
    %label{:for => "name"} 
      =t.name
    %br
    %input{:type => "text", :name => "name", :id => "name", :class => "form-control"}
    %br
    %label{:for => "mail"} 
      =t.email
    %br
    %input{:type => "text", :name => "mail", :id => "mail", :class => "form-control"}
    %br
    %label{:for => "body"} 
      =t.msg
    %br
    %textarea{:name => "body", :id => "body", :class => "form-control"}
    %br
    %input{:type => "submit", :value => t.send_name, :class => "btn btn-primary btn-block"}
