%form{:name => "form", :id => "form", :action => "/contact", :method => "post", :enctype => "text/plain"}
  %fieldset
    %label{:for => "message[name]"} 
      =t.name
    %br
    %input{:type => "text", :name => "message[name]", :id => "message[name]", :class => "form-control"}
    %br
    %label{:for => "message[mail]"} 
      =t.email
    %br
    %input{:type => "text", :name => "message[mail]", :id => "message[mail]", :class => "form-control"}
    %br
    %label{:for => "message[body]"} 
      =t.msg
    %br
    %textarea{:name => "message[body]", :id => "message[body]", :class => "form-control"}
    %br
    %input{:type => "submit", :value => t.send_name, :class => "btn btn-primary btn-block"}
