.span-24
  %img{:src => "images/phone.png"}

.span-9
  %form{:name => "form", :id => "form", :action => "/contact", :method => "post", :enctype => "text/plain"}
    %fieldset
      %label{:for => "message[name]"} 
        =t.name
      %br
      %input{:type => "text", :name => "message[name]", :class => "text"}
      %br
      %label{:for => "message[mail]"} 
        =t.email
      %br
      %input{:type => "text", :name => "message[mail]", :class => "text"}
      %br
      %label{:for => "message[body]"} 
        =t.msg
      %br
      %textarea{:name => "message[body]"}
      %br
      %input{:type => "submit", :value => t.send_name, :class => "fg-button submit_button"}
      .social_icons_group
        %a{:href=>"https://www.facebook.com/werner.echezuria", :id => "facebook_icon", :class => "social_icons"}
        %a{:href=>"http://www.linkedin.com/in/wernerechezuria", :id => "linkedin_icon", :class => "social_icons"}
        %a{:href=>"http://twitter.com/wechezuria", :id => "twitter_icon", :class => "social_icons"}
        %a{:href=>"https://github.com/werner", :id => "github_icon", :class => "social_icons"}
