.span-24
  %img{:src => "images/archives.png"}

.span-9
  .box-content 
    .subtitle-style
      Ruby on Rails
    %p
      =t.ror_body
  
.span-9
  .box-content 
    .subtitle-style
      PHP
    %p
      =t.php_body
    
.span-9
  .box-content 
    .subtitle-style
      C#
    %p
      =t.c_sharp_body
    
.span-9
  .box-content 
    .subtitle-style
      JavaScript
    %p
      =t.javascript_body
