.span-24
  %img{:src => "images/archives.png"}

.span-9
  .box-content 
    .subtitle-style
      Ruby on Rails
    %p
      Develop web applications using Agile Methodologies.
  
.span-9
  .box-content 
    .subtitle-style
      PHP
    %p
      Experience in Wordpress and CodeIgniter applications.
    
.span-9
  .box-content 
    .subtitle-style
      C#
    %p
      Desktop software and ASP .NET sites.
    
.span-9
  .box-content 
    .subtitle-style
      JavaScript
    %p
      Love to work with JQuery, ExtJS and CoffeeScript.