.span-24
  %img{:src => "images/gear.png"}
  
.span-4
  .box-content 
    .subtitle-style
      %a{:href => "http://yabsca.heroku.com/"} YABSCA
    %p
      Ruby on Rails and ExtJS.
      %br
      user: admin, password: 12345.
      
.span-5
  .box-content
    .subtitle-style
      %a{:href => "http://www.inversioneshm.com.ve/"} Inversiones HM 2011
    %p
      Wordpress Site.

.span-15.last  
  
.span-4
  .box-content
    .subtitle-style
      %a{:href => "http://code.google.com/p/fuzzyquery/"} Fuzzyquery
    %p
      PostgreSQL extension.
  
.span-5.last
  .box-content
    .subtitle-style
      %a{:href => "http://werner.heroku.com"} This Site
    %p
      Sinatra, CoffeScript, JQuery and Cufon.


.span-4
  .box-content
    .subtitle-style
      PHP Developer
    %p
      %a{:href => "http://www.alcaldiagirardot.gob.ve/"} Alcaldía de Girardot
      %br
      %a{:href => "http://www.minarsa.com.ve/"} Minarsa
      %br

.span-5.last
  .box-content
    .subtitle-style
      Ruby Developer
    %p  
      %a{:href => "http://www.360releases.com/"} 360releases Ltd.