!!! XML
!!!
%html
  %head
    %title Web Developer
    %link{:rel => "stylesheet", :href => "stylesheets/blueprint/screen.css", :type => "text/css" , :media =>"screen, projection"}
    %link{:rel=>"stylesheet", :href=>"stylesheets/blueprint/print.css", :type=>"text/css", :media => "print"} 
    /[if IE]
      %link{:rel=>"stylesheet", :href=>"stylesheets/blueprint/ie.css", :type=>"text/css", :media=>"screen, projection"}

    %link{:rel => "stylesheet", :href => "javascripts/booklet/jquery.booklet.1.2.0.css", :type => "text/css" , :media =>"screen, projection"}
    %link{:rel => "stylesheet", :href => "stylesheets/style.css", :type => "text/css" , :media =>"screen, projection"}
    %link{:rel => "stylesheet", :href => "stylesheets/links.css", :type => "text/css" , :media =>"screen, projection"}
    %link{:rel => "stylesheet", :href => "stylesheets/booklet.css", :type => "text/css" , :media =>"screen, projection"}
    %meta{:name => "google-site-verification", :content => "ywM0adqhf8d5P1T2KXTAIzIFF7Mq3SOQUk-lIHQtowo" }
  %body
    .container

      .span-24
        .menu
          %ul#menu
            %li
              %a{:href=>"#", :title=>"Home", :id => "home", :class => "menu"}
            %li
              %a{:href=>"#", :title=>"Skills", :id => "skills", :class => "menu"}
            %li
              %a{:href=>"#", :title=>"Work", :id => "work", :class => "menu"}
            %li
              %a{:href=>"#", :title=>"Contact", :id => "contact", :class => "menu"}

      .span-1.last
        &nbsp;

      .span-24
        .book_wrapper
        
          %a#next_page_button
          %a#prev_page_button

          #loading.loading Loading pages...

          #mybook{:style => "display:none;"}
            
            .b-load
              %div
                #logos
                  .span-10
                    .logo-name
                      Werner Echezuría
                  .span-14.last
                  .span-24
                    .logo-developer
                      Web Developer
              %div
                .span-24
                  .brush-font.title-style
                    Home
              %div
                = partial(:home)
              %div
                .span-24
                  .brush-font.title-style
                    Skills
              %div
                = partial(:skills)
              %div
                .span-24
                  .brush-font.title-style
                    Work
              %div
                = partial(:work)
              %div
                .span-24
                  .brush-font.title-style
                    Contact
              %div
                = partial(:contact)
    
    %script{:type => "text/javascript", :src=> "javascripts/jquery-1.7.1.min.js"}
    %script{:type => "text/javascript", :src=> "javascripts/jquery.easing.1.3.js"}
    %script{:type => "text/javascript", :src=> "javascripts/jquery.form.js"}
    %script{:type => "text/javascript", :src=> "javascripts/cufon/cufon-yui.js"}
    %script{:type => "text/javascript", :src=> "javascripts/cufon/Brush_Script_Std_italic_500.font.js"}
    %script{:type => "text/javascript", :src=> "javascripts/cufon/Agency_FB_400-Agency_FB_700.font.js"}
    %script{:type => "text/javascript", :src=> "javascripts/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js"}
    %script{:type => "text/javascript", :src=> "javascripts/booklet/jquery.booklet.1.2.0.min.js"}
    %script{:type => "text/javascript", :src=> "javascripts/app.js"}
    %script{:type => "text/javascript", :src=> "javascripts/booklet.js"}
    %script{:type => "text/javascript", :src=> "javascripts/links.js"}
    