!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title 
      =t.profession

    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" }
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" }
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" }
    %link{:rel => "stylesheet", :href => "/stylesheets/font-mfizz/font-mfizz.css" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{:name => "google-site-verification", :content => "ywM0adqhf8d5P1T2KXTAIzIFF7Mq3SOQUk-lIHQtowo" }

    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Bubbler+One" }
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Berkshire+Swash" }
    %link{:rel => "stylesheet", :href => "/stylesheets/style.css" }
  %body.personal_site

    .container

      %header
        %nav.navbar.navbar-inverse.navbar-fixed-top{ :role => "navigation" }
          .navbar-header
            %button.navbar-toggle{ "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse" }
              %span.sr-only
                Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{ :href => "#" }

          .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{ :href => "#home" }
                  =t.home
              %li
                %a{ :href => "#skills" }
                  =t.skills
              %li
                %a{ :href => "#work" }
                  =t.work
              %li
                %a{ :href => "#contact" }
                  =t.contact

      %article#home
        .row
          .col-lg-6.text-center
            %h1 
              Werner Echezuría
          .col-lg-6.text-center
            %img.img-responsive{ :src => "/images/ruby.jpg" }
        .row
          .col-lg-12.text-center
            %h3=t.profession

      %article#skills
        .row
          .col-lg-1
          .col-lg-3
            %img.img-responsive.img-thumbnail{ :src => "/images/books.jpg" }
          .col-xs-8
            .row
              %h2
                %i.icon-gears.icon-large
                =t.skills
              .row
                &nbsp;
              .row
                .subtitle
                  %i.icon-ruby-on-rails-alt.icon-large
                  Ruby on Rails
                %p
                  =t.ror_body
              .row
                .subtitle
                  %i.icon-php-alt.icon-large
                  PHP
                %p
                  =t.php_body
              .subtitle
                %i.icon-javascript.icon-large
                JavaScript
              %p
                =t.javascript_body

      %article#work
        .row
          .col-lg-1
          .col-lg-3
            %img.img-responsive.img-thumbnail{ :src => "/images/work.jpg" }
          .col-xs-8
            .row
              %h2
                %i.icon-wrench.icon-large
                =t.work
              .row
                &nbsp;
              .subtitle
                %i.icon-ruby-on-rails-alt.icon-large
                =t.ruby_developer
              %p  
                %a{:href => "http://www.360releases.com/", :target => "_blank"} 360releases Ltd.
                %br
                Crowe Horwath Venezuela
                %br
                Quid Consulting

            .row
              .subtitle
                %i.icon-money.icon-large
                %a{:href => "http://yabsca.herokuapp.com/", :target => "_blank"} YABSCA
              (
              %a{:href => "https://github.com/werner/yabsca", :target => "_blank"}
                =t.source_code
              )
              %p
                =t.yabsca_body

            .row
              .subtitle
                %i.icon-envelope.icon-large
                %a{:href => "http://inmailing.herokuapp.com/", :target => "_blank"} Inmailing
              (
              %a{:href => "https://github.com/werner/in_mailing", :target => "_blank"}
                =t.source_code
              )
              %p
                =t.inmail_body

            .row
              .subtitle
                %i.icon-archive.icon-large
                %a{:href => "http://www.inversioneshm.com.ve/", :target => "_blank"} Inversiones HM 2011
              %p
                =t.inversioneshm_body

            .row
              .subtitle
                %i.icon-postgres.icon-large
                %a{:href => "http://code.google.com/p/fuzzyquery/", :target => "_blank"} Fuzzyquery
              %p
                =t.fuzzy_body

            .row
              .subtitle
                %i.icon-ruby.icon-large
                %a{:href => "http://werner.herokuapp.com/", :target => "_blank"}
                  =t.myself_head
              (
              %a{:href => "https://github.com/werner/personal_site", :target => "_blank"} 
                =t.source
              )
              %p
                =t.myself_body

            .row
              .subtitle
                %i.icon-php-alt.icon-large
                =t.php_developer
              %p  
                =t.city_hall
                %br
                =t.minarsa
                %br

      %article#contact
        .row
          .col-xs-12
            %h2
              %i.icon-phone.icon-large
              =t.contact
            %p
              =partial(:contact)

      %footer
        .row
          .col-xs-12
            %a.awe{:href=>"https://www.facebook.com/werner.echezuria", :target => "_blank"}
              %i.icon-facebook-sign.icon-2x
            %a.awe{:href=>"http://twitter.com/wechezuria", :target => "_blank"}
              %i.icon-twitter-sign.icon-2x
            %a.awe{:href=>"http://www.linkedin.com/in/wernerechezuria", :target => "_blank"}
              %i.icon-linkedin-sign.icon-2x
            %a.awe{:href=>"https://github.com/werner", :target => "_blank"}
              %i.icon-github-alt.icon-2x
        .credits
          .row
            .col-xs-12
              =t.credits
          .row
            .col-xs-12
              =t.credits_ruby
          .row
            .col-xs-12
              =t.credits_book
          .row
            .col-xs-12
              =t.credits_gears

    %script{:src => "http://code.jquery.com/jquery-1.10.1.min.js"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}

    = js_assets 'base'
