.back_menu {
    background-color: #E0E4CC;
    padding: 0.3em;
    font-size: 14px;
    font-family: Verdana;
}

ul#menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li
{
    float: left;
    margin: 0 0.15em;
}

#menu li a
{
    background-color: #E0E4CC;
    height: 2em;
    line-height: 2em;
    float: left;
    width: 9em;
    display: block;
    border: 0.1em solid #dcdce9;
    color: #0d2474;
    text-decoration: none;
    text-align: center;
}

#menu li a:hover {
    background-color: #FFFFFF;
    color: #FA6900;
}
